* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
}

.content-wrapper {
    padding-bottom: 90px;
}

.errors-list {
    font-size: 14px;
    padding: 10px 30px;
}

.table-wrapper {
    margin: 40px 0;
}
.reviews-list-table .preview,
.reviews-list-table .send,
.edit-review-form {
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.reviews-list-table .preview .fa {
    color: #00a7b5;
    transition: color .6s;
}
.reviews-list-table .preview:hover .fa {
    color: #00949b;
}

.edit-review-form .fa {
    color: #2e2e2e;
}

.show-preview-wrap {
    padding: 30px;
    font-size: 18px;
}

.show-preview-wrap .preview-title {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.show-preview-wrap .review-preview {
    margin-top: 30px;
    color: #333;
    /*font-size: 14px;*/
}

.show-preview-wrap .name-preview,
.show-preview-wrap .email-preview {
    font-weight: 700;
}

.info-table .green-square {
    background: #18bc9c;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.info-table span {
    line-height: 30px;
    vertical-align: top;
    padding-left: 8px;
}

.reviews-list-table .send .fa {
    color: #4688aa;
}
.reviews-list-table .send:hover .fa {
    color: #325b77;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

footer .footer-content {
    margin: 20px 0;
}